@model NGO
@{
    ViewData["Title"] = "edit_team";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
    <div class="container-fluid">
        <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            Insert New NGO
                        </h3>
                    </div>
                </div>
                <!-- .row -->

                <div class="row justify-content">
                    <!-- Center the form -->
                    <div class="col-xs-12 col-md-6">
                        <!-- Basic form -->
                        <div class="form-container ">
                            <!-- Added a container for the form -->


                            <form asp-action="EditNGO" method="post">
                                <div class="form-group">
                                    <label for="Name">NGO Name</label>
                                    <input type="text" id="Name" name="Name" asp-for="Name" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="Location">Location</label>
                                    <input type="text" id="Location" name="Location" asp-for="Location" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="ContactInfo">Contact Info</label>
                                    <input type="text" id="ContactInfo" name="ContactInfo" asp-for="ContactInfo" class="form-control" required />
                                </div>
                                <button type="submit" class="btn btn-primary">edit NGO</button>
                            </form>
                        </div>


                    </div>
                    <!-- .col-* -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container-fluid -->
        </section>
    </div>
</section>

